openai==1.40.6
spacy==3.7.5
Faker==25.9.2
presidio-analyzer==2.2.355
exrex==0.11.0
better_profanity==0.7.0
alt-profanity-check==1.5.1
# python -m spacy download en_core_web_md

Flask==3.0.3
Flask-Cors==4.0.1
waitress==3.0.0

pandas==2.2.2
guardrails_ai==0.5.4
pydantic==2.8.2

transformers==4.44.0
torch==2.4.0